body {
    background-color:#fefbd8;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, sans-serif;
    margin: 0;
}

.todo-container {
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #34495e;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 12px;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    color: #333333;
    background-color: rgba(255, 255, 255, 0.9);
}

input[type="text"]::placeholder {
    color: #bdc3c7;
}

button {
    background-color: #3498db;
    border: none;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

button:hover {
    background-color: #5b29b9;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

li:last-child {
    margin-bottom: 0;
}

li button {
    background-color: #06b10f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin-right: 10px;
}

li button.edit {
    background-color: #2ecc71;
}

li button:hover {
    background-color: #c0392b;
}

li button.edit:hover {
    background-color: #27ae60;
}

@media (max-width: 768px) {
    .todo-container {
        width: 95%;
    }
    h2 {
        font-size: 32px;
    }
}